@import './view-transitions.css';

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scroll bar stylings */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--lightestgrey);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #adadad;
  }

  /* Scroll bar stylings */
  .dark ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  .dark ::-webkit-scrollbar-track {
    background: var(--lightestgrey);
  }

  /* Handle */
  .dark ::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 5px;
  }

  /* Handle on hover */
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #c5c5c5;
  }
}

@layer base {
  :root {
    --primary-bg: #e4e4e4;
    --secondary-bg: rgba(255, 255, 255, 0.6);
    --tertiary-bg: rgba(255, 255, 255, 0.5);

    /* Inspira ui styles */

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0 100% 0%;
    --primary-foreground: 210 40% 98%;

    --secondary: 221.97 81.33% 55.88%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --tertiary: 270.74 91.01% 65.1%;
    --tertiary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .overflow-y-active {
    @apply overflow-y-hidden hover:overflow-y-auto active:overflow-y-auto focus:overflow-y-auto;
  }

  .title {
    @apply text-transparent bg-gradient-to-br from-secondary to-tertiary bg-clip-text;
  }

  .title-decorator {
    @apply bg-gradient-to-br from-secondary to-tertiary;
  }

  .dark {
    --primary-bg: black;
    --secondary-bg: #6b728066;
    --tertiary-bg: #6b728033;
    --quaternary-bg: #6b7280;

    /* Inspira ui styles */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 0 100% 100%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 48 96% 53%;
    --secondary-foreground: 210 40% 98%;

    --tertiary: 24.58 94.98% 53.14%;
    --tertiary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

html {
  font-family:
    'Quicksand',
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & > body {
    width: 100%;
    height: 100%;

    & > #app {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
}

* {
  scrollbar-gutter: stable;
}
